Aliquam imperdiet tempor facilisis. Sed elementum ultrices vulputate. In hac habitasse platea dictumst. In et accumsan turpis. Nullam laoreet posuere eros ac iaculis. Nullam ut velit arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat.

<form action="#" id="myform">
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="fname"><b>First Name</b></label>
    <input placeholder="Enter Your First Name" name="fname" required>
    <br><br>
    <label for="lname"><b>Last Name</b></label>
    <input placeholder="Enter Your Last Name" name="lname" required>
    <br><br>
    <label for="name"><b>Email</b></label>
    <input placeholder="Enter Email" name="email">
    <br><br>
    <label for="jobtype"><b>Job Type</b></label>
    <select name="jobtype" size="2">
        <option value="front">Frontend</option>
        <option value="back">Backend</option>
      </select>
    <br><br>
    <label for="salary"><b>Salary</b></label>
    <input name="salary" type="number">
    <br><br>
    <label for="age"><b>Your Age</b></label>
    <input name="age" type="number">
    <br><br>
    Sign up for our newsletter
    <input type="checkbox" name="accept" value="iAccept" id="check" checked> 
    <br><br>
    <label for="praxa"><b>Praxa</b></label>
    <select name="praxa" size="3" multiple>
        <option value="present">Studio Present</option>
        <option value="infostud">Infostud</option>
        <option value="alex">ICBTech</option>
      </select>
    <br><br>
    <div class="clearfix">
    <button type="submit" class="signupbtn">Submit</button>
    </div>
</form>

<script>
    
        jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
        });

        $("#myform").validate({
        rules: {
            fname: {
                minlength: 5,
                maxlength: 10
            },
            lname: {
                minlength: 5,
                maxlength: 10,
                required: true
            },
            email: {
                required: true,
                email: true
            },
            jobtype: {
                required: true
            },
            salary: {
                number: true,
                max: 2000,
                required: true
            },
            age: {
                number: true,
                min: 18,
                max: 99,
                required: true
            },
            accept: {
                required: false
            },
            praxa: {
                required: true
            },
        },
        messages: {
        fname: {
            minlength: jQuery.validator.format("At least {0} characters needed!")
        },
        lname: {
            required: "Name Required",
            minlength: jQuery.validator.format("At least {0} characters needed!")
        },
        email: {
            required: "Email Address Required",
            email: "Your email address must be in the format of name@domain.com"
        }
        }
        });
    </script>